:root{ 
    --fundo: #6959CD;
    --cartao-frente: #CAE1FF;
    --cartao-verso: #EE3B3B;
    --destaque: #FFD700;
    --preto: #000000;
    --branco: #F8F8FF;
}

body{ 
background-color: var(--fundo);
}